* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    display: grid;
    font-family: "Poppins", sans-serif;
    place-items: center;
  }
  .wrapper {
    padding-top: 10px;
    display: inline-flex;
  }
  .icon {
    /* Change the icon size here */
    font-size: 2em;
    /* Change the icons colours here*/
    color: #7a7a7a
  }
  .linkedin:hover {
    color: #0e76a8;
  }